*.py[cod]
*.swp
~$*.*

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Keep passwords secret
config.ini
*.log

# PyCharm
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/NHS.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/scopes/scope_settings.xml
.idea/testrunner.xml
.idea/vcs.xml
.idea/dataSources.xml
.idea/dataSources.ids
.idea/sqldialects.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml

# SQLite
*.db


