[EMV HTMLPART]

<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Your Items are Still in Your Cart</title>
</head>

<body>

<table width="550" style="text-align: center">
<tr>
<td style="margin: auto; width: 550px; padding:15px; overflow: auto; border: solid 1px #ababab">
<h2 align="left"> Dear [EMV DYN]FIRSTNAME[EMV /DYN],</h2>
        
<p align="left">Thank you for visiting our website. As a service for our valued Nutri-Health customers, we are holding your selected products in your shopping cart.</p>
<p>&nbsp;</p>
<p align="left">Check our specials and take the opportunity to stock up! </br>Please visit the <span style="white-space:nowrap">Nutri-Health</span> website frequently ... delivering more information and more savings daily! </p>
<p>&nbsp;</p>
<p align="left">Use your usual password and user name, and you will have uninterrupted account access. Your  private information is always protected under our encrypted security system.</p>
<p>&nbsp;</p>
<p align="left">If  you have any questions, don't hesitate to call us at <strong>1-800-914-6311. </strong>Our <span style="white-space:nowrap">Nutri-Health</span> Customers Care Team is happy to answer your questions.</p>
<p>&nbsp;</p>
<a href="[EMV LINK]1[EMV /LINK]">Click here to go back to your cart</a>
<p>&nbsp;</p> 
 <p align="left"><img src="http://www.nutri-health.com/content/cache/skins/NutriHealth0312/images/image-logo.png" width="223" height="69" alt="Nutri-Health Supplements" /></p>
<h4 align="left">Nutri-Health Supplements - Your Every Day Premium Health Source</h4>


</td>
</tr>
</table>
        
</body>
</html>