[EMV HTMLPART]

<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Your Order is on it's way!</title>
</head>

<body>

<table width="550" style="text-align: left">
<tr>
<td style="margin: auto; width: 550px; padding:15px; overflow: auto; border: solid 1px #ababab">
<h2 align="left"> Dear [EMV DYN]FIRSTNAME[EMV /DYN],</h2>
        
<p>Thank you again for your purchase from Nutri-Health Supplements. Your order is on its way!</p>
<p>&nbsp;</p>
<p>[EMV DYN]SHIPINFO-QPRC[EMV /DYN]</p>
<p>[EMV DYN]SHIPTRACK[EMV /DYN]</p>
<p><a href="[EMV LINK]5[EMV /LINK]"><img src="http://www.nutri-health.com/images/custom/NH_WebGuaranteeSeal_1.gif" alt="NHguarantee" name="guarantee" width="125" height="125" border="0" align="right" id="guarantee2" style="margin-left:10px"/></a>At Nutri-Health, our primary goal is to ensure you're completely satisfied with every supplement you buy. If anything ever fails to meet your expectations, you may return it within 180 days of purchase for a full refund of the product price (less shipping and handling, if applicable).</p>
<p>&nbsp; </p>
<p>Sincerely,<br />
Theresa Kessner<br />
Distribution Manager</p>
<p>&nbsp;</p>
<p align="left"><img src="http://www.nutri-health.com/content/cache/skins/NutriHealth0312/images/image-logo.png" width="223" height="69" alt="Nutri-Health Supplements" /></p>
<p align="center" style="font-size:11px">(c)2013. All Rights Reserved. Nutri-Health Supplements LLC. <br />
Nutri-Health Supplements, 260 Justin Drive, Cottonwood, AZ 86326 <br />
Visit <a href="[EMV LINK]6[EMV /LINK]">http://www.Nutri-Health.com</a> or call customer service at    <strong>1-800-953-8319</strong>. </p>


</td>
</tr>
</table>
        
</body>
</html>

[EMV TEXTPART]


Dear [EMV DYN]FIRSTNAME[EMV /DYN]
        
Thank you again for your purchase from Nutri-Health Supplements. Your order is on its way!



[EMV DYN]SHIPINFO-QPRC[EMV /DYN]

[EMV DYN]SHIPTRACK[EMV /DYN]

At Nutri-Health, our primary goal is to ensure you're completely satisfied with every supplement you buy. If anything ever fails to meet your expectations, you may return it within 180 days of purchase for a full refund of the product price (less shipping and handling, if applicable).


Sincerely,
Theresa Kessner
Distribution Manager
Nutri-Health Supplements


(c)2013. All Rights Reserved. Nutri-Health Supplements LLC. 
Nutri-Health Supplements, 260 Justin Drive, Cottonwood, AZ 86326 
Visit www.nutri-health.com or call customer service at 1-800-953-8319. 


